# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# Large videos (hosted externally)
src/assets/projects/microcontroller-room-monitor/videos/Projet MCU video.mp4
src/assets/projects/short-documentary/videos/OUI PAPA.mp4
src/assets/projects/sers-creatinine-detection/videos/videoplayback_1080p.mp4
src/assets/projects/solar-panel-cleaner/videos/VID20231222114734.mp4
src/assets/projects/intercultural-presentation/videos/Daniel's mid-term presentation.MOV